.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6),
  rgba(0, 0, 0, 0.6)), url(https://images.pexels.com/photos/3153201/pexels-photo-3153201.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=10);
  height: 50vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner h1 {
  color: white
}

.banner p {
  color: white;
  font-weight: lighter;
}

.banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
