.btn{
  color: white;
  padding: 16px 24px;
  border-radius: 8px;
  font-weight: bold;
  background: #E76F51;
  transition: background 0.5s ease;
  transform: rotate(360deg);
  transition: all 2s ease-out;
}

.btn:hover{
  background: #F4A261;
}
